<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ermelines Flauschiversum</title>
        <link href="/style.css" type="text/css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="background">
    <img src="/images/verlauf_header.svg">
    <div class="background-bottom"></div>
</div>
<header>
    <div>
        <img class="logo" src="/images/flauschi_normal.svg" alt="Ermelines Flauschiversum">
        <h1>Ermelines Flauschiversum<small>Mehr als nur eine Masche</small></h1>
    </div>
    <nav>
        {% block nav %}
            <a href="/index.html">Startseite</a>
            <a href="/news.html">Aktuelles</a>
            <a href="/anleitungen.html">Anleitungen</a>
            <a href="/about.html">über Ermeline</a>
            <a href="/impressum.html">Impressum</a>
        {% endblock %}
    </nav>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
        <a href="/impressum.html">Impressum</a>
        <a href="/impressum.html">Datenschutzerklärung</a>
    {% endblock %}
</footer>
</body>
</html>