<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ermelines Flauschiversum</title>
        <link href="/style.css" type="text/css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <header>
        <div >
            <div class="logo"></div>
            <h1>Ermelines Flauschiversum<small>Mehr als nur eine Masche</small></h1>
        </div>
        <nav>
            {% block nav %}
                <a href="/">Startseite</a>
                <a href="/news/">Aktuelles</a>
                <a href="/post/">Anleitungen</a>
                <a href="/about/">über Ermeline</a>
                <a href="/impressum/">Impressum</a>
            {% endblock %}
        </nav>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
        <a href="/impressum.html">Impressum</a>
    {% endblock %}
</footer>
</body>
</html>