body
{
    background-color: #ffffbe;
    font-size: 1rem;
    font-family: "Liberation Sans",sans-serif;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    background-image: url("/images/flauschis/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

a
{
    color: #a900ff;
}

a:visited
{
    color: #5500ff;
}

/* Header  */
header {
    margin-bottom: 2rem;
    margin-top: 7rem;
}
header div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 4em;
    margin-left: 0.5em;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    color: #a41aff;
    text-shadow: 2px 2px 5px #6841ff;
}

h1 small {
    font-size: 0.6em;
    display: block;
}

header nav
{
    display: flex;
    justify-content: center;
}

header nav a, header nav a:visited
{
    font-family: "Lobster Two", sans-serif;
    color: #518637;
    text-decoration: none;
    margin: 0.3em;
    font-size: 1.3em;

}

/* Header Animation */

body header div div.logo
{
    display: block;
    background-image: url("/images/flauschis/flauschi_normal-normalsize.png");
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
}
body header div div.logo:hover
{
    background-image: url("/images/flauschis/flauschi_surprised-normalsize.png");
}

/* Main Content and Sidebar  */
main
{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

main aside
{
    margin-right: 5em;
    /*background-color: #FFF172;*/
}

main aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main aside ul li
{
    margin-bottom: 0.2em;
}

main aside ul li a
{
    text-decoration: none;
}

main aside ul h2
{
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

main article
{
    padding: 2em;
    max-width: 40em;
    margin-bottom: 4em;
    background-color: #FFFFFF;
    border-bottom-left-radius: 3.5em;
    border-top-right-radius: 3.5em;
    box-shadow: 10px 10px 10px #4aa21d;
    font-family: sans-serif;
}

main article h2
{
    font-family: "Lobster Two";
}

main article:last-child
{
    margin-bottom: 0rem;
}

main article h2
{
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* News Feed */
main div.feed article img:first-child
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 3.5em;
    border-top-right-radius: 3.5em;
}

/* Artikel */

main article img
{
    display: block;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 3em;
    border-top-right-radius: 3em;
}



/* Footer */
footer
{
    display: flex;
    justify-content: center;
}

footer a
{
    margin: 3rem;
}